
<%= render "layout" %>
<body>
  <section class="hero background-img is-large" style="background-image: url(https://cdn.hipwallpaper.com/i/55/26/kKyXDw.jpg)">
  	<div class="hero-body">
        	<div class="container has-text-centered">
        		<h1 class="title is-size-1 has-text-white">
                    <p> No estás conectad@ </p>
                    <%= link_to 'Inicia sesión', new_user_registration_path %>
                </h1>
        	</div>
        	
        </div>
	</section>
</body>