<%= render "static_pages/layout" %>
<head>
  <title>Buscar Comunas</title>
</head>

<body>
  <br>
	<h1 class="title" align="center">Buscar Comunas</h1>
	<br>
	<nav class="panel">
		<form action="" method="post">
	 	<p class="panel-heading">
	    	Buscador de comunas:
	  	</p>
	  	<div class="panel-block">
	    	<p class="control has-icons-left">
	      	<input class="input" type="text" placeholder="Comuna..." name="nombrecomuna">
	      	<span class="icon is-left">
	       		<i class="fas fa-search" aria-hidden="true"></i>
	      	</span>
	    	</p>
	    	
	    	<input type="submit" class="button is-link" value="Buscar" name="buscar">
		</div>
		</form>
	</nav>
	<div class="columns">
		<div class="column">
      

		</div>
		<div class="column">
      
		</div>	
	</div>
</body>

</body>