<%= render "static_pages/layout" %>

<body>
  <br>
	<h1 class="title" align="center">Reseñas</h1>
	
  <section class="section">
        <div class="container has-text-centered">
            <div class="columns is-centered" style="padding: 2rem">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Escribir reseñas</p>
                                </div>
                            </div>

                            <div class="content">
                                Acá puedes escribir una nueva reseña para algún servicio!
                            </div>
                            <button class="button is-dark" onclick="location.href='<%=reviews_new_url %>'">Escribir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>


</body>